.editorWrapper {
  border: 1px solid $secondary;
  border-radius: 8px;
  background-color: $tertiary;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 2px 0 2px 0;
  justify-content: space-between;
}

#editor {
  max-height: 5cm;
  overflow-y: auto;
  margin-right: 15px;
  width: calc(100% - 3cm);
  border: none;
}

#editor:deep(.ql-editor.ql-blank::before) {
  color: $text-color-faded;
}

#editor::-webkit-scrollbar {
  width: 8px;
}

#editor::-webkit-scrollbar-track {
  background: transparent;
}

#editor::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
  // border: 3px solid #ffffff;
}

.editorIcon {
  margin-right: 10px;
  cursor: pointer;
}

.editorControls {
  display: flex;
  align-items: center;
}

#toolbar {
  border: none;
  background-color: $primary;
  margin-bottom: 5px;
  margin-right: 10px;
}

#toolbar:deep(.ql-snow .ql-picker) {
  color: $text-color
}

#toolbar:deep(.ql-active .ql-stroke) {
  stroke: $text-color-faded !important;
}

#toolbar:deep(.ql-stroke) {
  stroke: $text-color !important;
}

#toolbar:deep([type="button"]:hover .ql-stroke) {
  stroke: $text-color-faded !important;
}


#toolbar:deep(.ql-fill) {
  fill: $text-color !important;
}

#toolbar:deep(.ql-active .ql-fill) {
  fill: $text-color-faded !important;
}

#toolbar:deep([type="button"]:hover .ql-fill) {
  fill: $text-color-faded !important;
}