input {
    background: transparent;
    color: $text-color;
    border: none;
    border-bottom: solid;
    border-color: $text-color;
    width: 100%;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.search-controls {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
}

.control {
    cursor: pointer;
}