input {
    background: transparent;
    color: $text-color;
    border: none;
    border-bottom: solid;
    border-color: $text-color;
    width: calc(100% - 42px);
    margin-left: 10px;
}

input:focus {
    outline: none;
}