$navBarHeight : 40px;

.navBar{
	height:$navBarHeight;
	
}

.navItem{
	margin-left: 20px;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
	padding: 0 15px 0 15px;
	cursor: pointer;
}

.navItemSettings{
	float:right;
	margin-right: 20px;
}

.navItemSelected{
	background-color: #0c0c0c;
}

.advanceChat{
	height: calc(100vh - $navBarHeight);
}

