.page {
    height: 100vh;
    background-color: $background;
}

.content {
    margin: 0;
    height: 100%;
}

$resultIconSize: 50px;

.server-col {
    background-color: $tertiary;
    padding: 0;
    padding-top: 15px;
    padding-left: 10px;
    width: 10cm;
    box-shadow: 2px 7px 5px 2px #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-wrapper {
    height: 100%;
    display: flex;
    justify-items: left;
}

.server-icon-col-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direct-message-wrapper {
    padding-bottom: 10px;
    border-bottom: 2px solid $text-color;
    margin-bottom: 10px;
}

.direct-message {
    font-size: 1cm;
    cursor: pointer;
}

.friend-username {
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 5px;
}

.friend {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.friendSelected {
    background-color: $primary;
}

.friends {
    padding-left: 5px;
    padding-right: 5px;
}

.no-friend-selected {
    width: 100%;
    height: 100%;
    padding: 10px;
}