.content{
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #181a1b;
    height: 100%;
}

$resultIconSize: 50px;

.resultIcon {
	border-radius: 100%;
	width: $resultIconSize;
	height: $resultIconSize;
	padding: 0;
}

.result{
    margin-top: 20px;
}

.resultText{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.buttonWrapper{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.button{
    cursor: pointer;
    padding: 0 5px 0 5px;
}

