.chat-wrapper {
    display: flex;
    justify-content: left;
}


.chat {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.messages {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}

.message {
    margin-bottom: 10px;


}

.message-text:deep(p) {
    margin: 0;

}

.text-input-wrapper {
    display: inline-block;
    width: calc(100% - 2.5cm);
}