.chat-wrapper{
    display: flex;
    justify-content: left;
}

.rooms{
    width:5cm;
    border-color: black;
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;
    display: inline;
    height: 100%;
    padding-top: 10px;
}

.room{
    margin-left: 12px;
    margin-bottom: 5px;
}

.room-selected{
    text-decoration: underline;
}

.chat{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.messages{
    width: 100%;
    
}

.text-input-wrapper{
    display: inline-block;
    width: calc(100% - 2.5cm );
}

.chat-input{
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 0;
    border-top-width: 1px;
}