$background:#131415;
$primary:#0c0c0c;
$secondary:#383838;
$tertiary:#646464;

$text-color:#cccbcb;
$error:#d71d1d;
$sucsses:#2bbe06;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

