header {
	margin-top: 20px;
}

$serverIconSize: 50px;

.serverIcon {
	border-radius: 100%;
	width: $serverIconSize;
	height: $serverIconSize;
	padding: 0;
	margin-bottom: 10px;
}

.serverIconRow {
	display: flex;
	justify-content: center;
}

.serverIconWrapper {
	width: 2cm;
	overflow-x: hidden;
	margin-top: 10px;
}

.serverIconScroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100vh - $serverIconSize - 10px);
}

.serverIconScroll::-webkit-scrollbar {
	display: none;
}
.serverSettingIconWrapper {
	display: flex;
	justify-content: center;
}

.removeColPadding {
	padding: 0;
}

.advancedChatWrapper {
	width: 100wv;
}
