.content {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    background-color: $primary;
    width: 8cm;
    height: 8cm;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #000000;
}

$resultIconSize: 50px;

.resultIcon {
    border-radius: 100%;
    width: $resultIconSize;
    height: $resultIconSize;
    padding: 0;
}

.result {
    margin-top: 20px;
}

.resultText {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}


.button {
    cursor: pointer;
    padding: 0 5px 0 5px;
}

.userToAdd {
    margin-top: 15px;
    margin-left: 0;
    padding: 5px;
    display: flex;
    align-items: center;
}



.userToAddIcon {
    border-radius: 10px;
    border: 4px sold black;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
}

.UserNotFound {
    color: $error;
    margin-top: 10px;
}

.addControlIcon {
    cursor: pointer;
}

.requestListWrapper {
    margin: 0;
    overflow-x: hidden;
    height: calc(100% - 1rem - 15px);

    ::-webkit-scrollbar {
        display: none;
    }

}

.userToAddUsername {
    width: 5.5cm;
    margin-left: 15px;
}