.friend-username {
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 5px;
    overflow: hidden;
}

.friends {
    padding-left: 5px;
    padding-right: 5px;
}

.friend {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.friendSelected {
    background-color: $primary;
}

.unread-count {
    display: flex;

    align-items: center;
    padding: 0;

    div {

        height: 1em;
        display: flex;
        align-items: center;
        padding: 10px 5px;
        border-radius: 3px;
        background-color: $highLight;

    }
}